<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- meta block -->
		<title>MYTEST</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		
		<link rel="shortcut icon" href="../static/common/favicon/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="../static/common/favicon/icon-16.png" sizes="16x16" />
		<link rel="icon" href="../static/common/favicon/icon-32.png" sizes="32x32" />
		<link rel="icon" href="../static/common/favicon/icon-48.png" sizes="48x48" />
		<link rel="icon" href="../static/common/favicon/icon-96.png" sizes="96x96" />
		<link rel="icon" href="../static/common/favicon/icon-144.png" sizes="144x144" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
		<!-- end meta block -->
		<script type="text/javascript" src="../static/codebase/suite.js?v=7.3.3"></script>
		<link rel="stylesheet" href="../static/codebase/suite.css?v=7.3.3">
		<link rel="stylesheet" href="../static/common/index.css?v=7.3.3">
		<link rel="stylesheet" href="../static/common/style.css">
		<!-- custom sample head -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<!-- 헤더 -->
		<header class="dhx_sample-header">
			<div class="dhx_sample-header__main">
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
						<li class="dhx_sample-header-breadcrumbs__item">
							<a href="../index.html" class="dhx_sample-header-breadcrumbs__link">Back to Suite samples</a>
						</li>
					</ul>
				</nav>
				<h1 class="dhx_sample-header__title">
					<div class="dhx_sample-header__content">
						Bar chart
					</div>
				</h1>
			</div>
		</header>

		<!-- 사이드바 -->
		<div id="sidebar"></div>

		<!-- 대시보드 -->
		<div class="wrap-container dashboard">
			<section class="dhx_sample-container">
				<div id="chart" class="contents"></div>
			</section>
			<section class="dhx_sample-container">
				<div id="chart2" class="contents"></div>
			</section>
		</div>

		<!-- 연구소 -->
		<div class="wrap-container lab hide">
			<section class="dhx_sample-container">
				<div class="contents">
					lab !!!
				</div>
			</section>
		</div>
	</body>
</html>
<script type="text/javascript" src="../static/js/index.js"></script>